@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");
@import "./styles/normalize.css";
@import "./styles/variables.css";

* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--white);
  font-family: "Raleway", sans-serif;
}
.slogan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
}
.title {
  position: absolute;
  height: 20vh;
  display: flex;
  align-items: start;
  flex-flow: column nowrap;
  margin: 0;
  padding: 50px;
}
h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4.5em;
  color: var(--black);
  width: fit-content;
  padding: 0;
  margin: 0;
}
.description {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.slogan {
  font-size: 2em;
}
.slogan span {
  color: var(--blue);
}
.separation {
  width: 100%;
  text-align: center;
  margin: 10vh 0;
}

/* STYLE CONTACT */

header {
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
header nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: end;
}
header nav .insta,
header nav .vimeo {
  width: 2em;
  height: 2em;
  margin: 0 50px 0 0;
}
header nav .insta {
  background: url(./assets/icons/instagram.png) no-repeat center/cover;
}
header nav .vimeo {
  background: url(./assets/icons/vimeo.png) no-repeat center/cover;
}

/* STYLE SNIPPETS */

.gallery-container {
  width: 100%;
  height: 80vh;
}
.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  overflow-y: hidden;
}
.snippet-container {
  height: 200%;
  width: 33.33%;
  transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.8s;
}
.first-snippet-img {
  width: 100%;
  height: 50%;
  background: url(./assets/img/SUN05322.jpg) no-repeat center/cover;
}
.second-snippet-img {
  width: 100%;
  height: 50%;
  background: url(./assets/img/DSCF7307.jpg) no-repeat center/cover;
}
.third-snippet-img {
  width: 100%;
  height: 50%;
  background: url(./assets/img/DSCF7616.jpg) no-repeat center/cover;
}
.first-snippet-text,
.second-snippet-text,
.third-snippet-text {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
}
h4 {
  font-size: 1.8em;
  font-weight: 300;
}
h6 {
  font-size: 1em;
  font-weight: 300;
}
.line1 .snippet-container:hover {
  transform: translateY(-50%);
}

/* 2E SECTION */

.line2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.snippet-description {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.snippet-img {
  width: 66.66%;
  height: 100%;
  background: url(./assets/img/OZK03799.jpg) no-repeat center/cover;
  filter: grayscale(100%);
  transition: 1s;
}
.snippet-img:hover {
  filter: grayscale(0);
}

/*  SPLITVIEW  */

.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel .content {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  color: #fff;
}

.panel .panel-description {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.panel img {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 45%;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  background-color: rgb(40, 40, 40);
  z-index: 1;
}

.bottom .panel-description {
  right: 5%;
}

.top {
  background-color: var(--black);
  z-index: 2;
  width: 50vw;
}

.top .description {
  left: 5%;
}
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: var(--blue);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}
